@import './variables-static.scss';
@import './mixins.scss';

checkbox-component {
    @include square-16px;
    margin: $margin-01;
}

.addElement-checkbox__label {
    @include square-16px;
    position: relative;
    color: $color-tertiary;
    border-radius: $border-rounded-circle;

    &:hover {
        color: $color-primary;
    }
}

.addElement-checkbox {
    @include center-absolute;
    @include square-15px;
    appearance: none;
    border-radius: $border-rounded-circle;
    cursor: pointer;
    margin: $margin-00;
    padding: $padding-00;
    z-index: 2;

    &__icon {
        @include center-absolute;
        @include square-16px;
        color: inherit;
        padding: $padding-00;
        z-index: 0;
    }

    &__removeIcon {
        transition-duration: $duration-time-01;
        transform: rotate(90deg);
    }
}

.addElement-checkbox:checked+.addElement-checkbox__addIcon {
    transition-duration: $duration-time-01;
    transform: rotate(90deg);
    color: $transparent;
}

.addElement-checkbox:not(:checked)+.addElement-checkbox__addIcon {
    transition-duration: $duration-time-01;
    color: inherit;
    transform: rotate(0deg);
}

.addElement-checkbox:checked~.addElement-checkbox__removeIcon {
    transition-duration: $duration-time-01;
    transform: rotate(180deg);
}