@import './variables-static.scss';
@import './mixins.scss';

.recomendations-list__background {
    @include fill-absolute;
    @include flex-justify-center;
    @include background-transparent005;
    z-index: 3;
    display: none;
}

.recomendations-list__button {
    @include remove-appearance;
    @include font-size_primary;
    @include cursor-pointer;
    @include border-01;
    @include color-secondary;
    @include padding-005;
    @include border-remove;
    @include background-green;
    @include top-02;
    position: absolute;
    right: $unit-02;
    &:hover {
        @include color-primary;
    }
}

.recomendations-list {
    @include font-size_secondary;
    @include border-rounded;
    @include color-primary;
    @include secondary-background;
    @include border-transparent;
    @include padding-01;
    @include top-02;
    position: relative;
    width: 40%;
    height: 90%;
    overflow: scroll;
    z-index: 4;


    & .search-result {
        grid-template-columns: 1fr minmax(100px, 5fr) minmax(10px, 2fr) 1fr;
    }
        & p {
            display:none;
        }
        & removebtn-component {
            display:none;
        }
}