@import './variables-static.scss';
@import './mixins.scss';

.recomendations-sourcesList {
  @include container-base;
  display: block;
  width: 95%;
  box-sizing: border-box;
  min-width: 200px;
  overflow: hidden;
  height: fit-content;
  color: $color-primary;
}