$spotify-black: rgb(25, 20, 20);
$spotify-white: rgb(255, 255, 255);
$spotify-green: rgb(30, 215, 96);
$black: rgb(0, 0, 0);
$primary-dark: rgb(18, 18, 18);
$primary-grey: rgb(179, 179, 179);
$secondary-grey: rgb(56, 56, 56);
$transparent: rgba(255, 255, 255, 0);
$transparent005: rgba(255, 255, 255, 0.050);
$transparent0075: rgba(255, 255, 255, 0.075);
$transparent01: rgba(255, 255, 255, 0.1);
$color-primary: $spotify-white;
$color-secondary: $spotify-black;
$color-tertiary: $primary-grey;

$primary-background: $black;
$secondary-background: $primary-dark;
$tertiary-background: $secondary-grey;
$transparent00-background: $transparent;
$transparent001-background: $transparent01;
$transparent005-background: $transparent005;
$transparent0075-background: $transparent0075;
$green-background: $spotify-green;

$unit-0025: 0.25rem;
$unit-005: 0.5rem;
$unit-0075: 0.75rem;
$unit-01: 1rem;
$unit-0125: 1.25rem;
$unit-02: 2rem;
$unit-025: 2.5rem;
$unit-03: 3rem;
$unit-06: 6rem;
$unit-10: 10rem;
$unit-30: 30rem;

$unit-02p: 2px;
$unit-05p: 5px;
$container-width-01: $unit-30;
$secondary-font-size: $unit-0075;
$primary-font-size: $unit-01;

$font-weight_semibold: 500;
$font-weight_bold: 700;

$font-family-01: 'Nunito Sans', Helvetica, Arial, sans-serif;

$duration-time-01: 1s;
$top-distance: $unit-02;

$margin-00: 0;
$margin-01: 0 $unit-01 0 $unit-005;
$margin-02: $unit-005;

$padding-00: 0;
$padding-01: $unit-01;
$padding-02: $unit-005;

$border-rounded-01: 8px;
$border-rounded-02: $unit-01;
$border-rounded-circle: 50%;
$border-transparent-01: $unit-02p solid $transparent;

$shadow-01: $unit-0025 $unit-0025 $unit-05p $unit-02p $black;