<!-- <checkbox-component></checkbox-component> -->
      <img class="search-result__cover-image" src="${coverImage}"
          alt="${albumName}" width="40" height="40">
      <div class="search-result__track-core-data">
          <a class="search-result__track-name">${trackName}</a>
          <a class="search-result__artist-name" href="${artistURL}">${artistName}</a>
      </div>
      <a class="search-result__album-name" href="${albumURL}"> ${albumName} </a>
      <div class="search-result__track-time">${trackTime}</div>